#u7831:active
{
	background: url("../images/u7831-m.png") no-repeat 0px 0px;
}

#u7607
{
	border-style: solid;
	border-color: #C1272D;
	position: fixed;
	border-width: 0px 0px 1px;
	background: #FF0000 url("../images/ulockitdoor.jpg") repeat left center;
}

#u7674-8
{
	border-color: #A1A1A1;
	background-color: #B2B2B2;
	background-color: rgba(0,0,0,0.3);
	position: fixed;
	-pie-background: rgba(0,0,0,0.3);
}

#u7674-2
{
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
}

#u7674-4,#u7674-6
{
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u7672
{
	background-color: transparent;
	position: fixed;
}

#menuu7608
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u7617
{
	-pie-box-shadow: 1px -3px 8px #DBDBDB;
	box-shadow: 1px -3px 8px rgba(0,0,0,0.14);
	background: #C1272D url("../images/u7617-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#ED1C24),color-stop(100%, #C1272D));
	background: -webkit-linear-gradient(top,#ED1C24 ,#C1272D 100%);
	background: linear-gradient(to bottom,#ED1C24 ,#C1272D 100%);
	border-radius: 10px 10px 0px 0px ;
	position: relative;
}

#u7617:hover
{
	background-image: none;
	background-color: #DEDEDE;
	-pie-background: none;
}

#u7617:active
{
	background-image: none;
	background-color: #474747;
	-pie-background: none;
}

#u7617.MuseMenuActive
{
	background: #C1272D url("../images/u7617-a-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #800F14),to(#C1272D));
	background: -webkit-linear-gradient(top,#800F14 46%,#C1272D );
	background: linear-gradient(to bottom,#800F14 46%,#C1272D );
}

#u7620-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
}

#u7617:hover #u7620-4 p
{
	color: #C1272D;
	visibility: inherit;
}

#u7617:active #u7620-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u7626
{
	background: #000000 url("../images/u7626-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#7F7F7F),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#7F7F7F ,#000000 100%);
	background: linear-gradient(to bottom,#7F7F7F ,#000000 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #FF0000;
	position: relative;
}

#u7626:hover
{
	background: #000000 url("../images/u7626-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#AAAAAA),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#AAAAAA ,#000000 100%);
	background: linear-gradient(to bottom,#AAAAAA ,#000000 100%);
}

#u7626:active
{
	background-image: none;
	background-color: #AAAAAA;
	-pie-background: none;
}

#u7627-4
{
	background-color: transparent;
	text-align: center;
	font-size: 13px;
	color: #FFFFFF;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
}

#u7633
{
	background: #000000 url("../images/u7626-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#7F7F7F),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#7F7F7F ,#000000 100%);
	background: linear-gradient(to bottom,#7F7F7F ,#000000 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #FF0000;
	position: relative;
}

#u7633:hover
{
	background: #000000 url("../images/u7626-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#AAAAAA),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#AAAAAA ,#000000 100%);
	background: linear-gradient(to bottom,#AAAAAA ,#000000 100%);
}

#u7633:active
{
	background-image: none;
	background-color: #AAAAAA;
	-pie-background: none;
}

#u7636-4
{
	background-color: transparent;
	text-align: center;
	font-size: 13px;
	color: #FFFFFF;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
}

#u7640
{
	background: #000000 url("../images/u7626-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#7F7F7F),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#7F7F7F ,#000000 100%);
	background: linear-gradient(to bottom,#7F7F7F ,#000000 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #FF0000;
	position: relative;
}

#u7640:hover
{
	background: #000000 url("../images/u7626-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#AAAAAA),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#AAAAAA ,#000000 100%);
	background: linear-gradient(to bottom,#AAAAAA ,#000000 100%);
}

#u7640:active
{
	background-image: none;
	background-color: #AAAAAA;
	-pie-background: none;
}

#u7643-4
{
	background-color: transparent;
	text-align: center;
	font-size: 13px;
	color: #FFFFFF;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
}

#u8705
{
	background: #000000 url("../images/u7626-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#7F7F7F),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#7F7F7F ,#000000 100%);
	background: linear-gradient(to bottom,#7F7F7F ,#000000 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #FF0000;
	position: relative;
}

#u8705:hover
{
	background: #000000 url("../images/u7626-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#AAAAAA),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#AAAAAA ,#000000 100%);
	background: linear-gradient(to bottom,#AAAAAA ,#000000 100%);
}

#u8705:active
{
	background-image: none;
	background-color: #AAAAAA;
	-pie-background: none;
}

#u7626.MuseMenuActive,#u7633.MuseMenuActive,#u7640.MuseMenuActive,#u8705.MuseMenuActive
{
	background-image: none;
	background-color: #000000;
	-pie-background: none;
}

#u8706-4
{
	background-color: transparent;
	text-align: center;
	font-size: 13px;
	color: #FFFFFF;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
}

#u7610
{
	-pie-box-shadow: 1px -3px 8px #DBDBDB;
	box-shadow: 1px -3px 8px rgba(0,0,0,0.14);
	background: #C1272D url("../images/u7617-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#ED1C24),color-stop(100%, #C1272D));
	background: -webkit-linear-gradient(top,#ED1C24 ,#C1272D 100%);
	background: linear-gradient(to bottom,#ED1C24 ,#C1272D 100%);
	border-radius: 10px 10px 0px 0px ;
	position: relative;
}

#u7610:hover
{
	background-image: none;
	background-color: #DEDEDE;
	-pie-background: none;
}

#u7610:active
{
	background-image: none;
	background-color: #474747;
	-pie-background: none;
}

#u7610.MuseMenuActive
{
	background: #C1272D url("../images/u7617-a-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #800F14),to(#C1272D));
	background: -webkit-linear-gradient(top,#800F14 46%,#C1272D );
	background: linear-gradient(to bottom,#800F14 46%,#C1272D );
}

#u7611-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
}

#u7610:hover #u7611-4 p
{
	color: #C1272D;
	visibility: inherit;
}

#u7617.MuseMenuActive #u7620-4 p,#u7610:active #u7611-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u9776
{
	-pie-box-shadow: 1px -3px 8px #DBDBDB;
	box-shadow: 1px -3px 8px rgba(0,0,0,0.14);
	background: #C1272D url("../images/u7617-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#ED1C24),color-stop(100%, #C1272D));
	background: -webkit-linear-gradient(top,#ED1C24 ,#C1272D 100%);
	background: linear-gradient(to bottom,#ED1C24 ,#C1272D 100%);
	border-radius: 10px 10px 0px 0px ;
	position: relative;
}

#u9776:hover
{
	background-image: none;
	background-color: #DEDEDE;
	-pie-background: none;
}

#u9776:active
{
	background-image: none;
	background-color: #474747;
	-pie-background: none;
}

#u9776.MuseMenuActive
{
	background: #C1272D url("../images/u7617-a-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #800F14),to(#C1272D));
	background: -webkit-linear-gradient(top,#800F14 46%,#C1272D );
	background: linear-gradient(to bottom,#800F14 46%,#C1272D );
}

#u9777-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
}

#u9776:hover #u9777-4 p
{
	color: #C1272D;
	visibility: inherit;
}

#u7610.MuseMenuActive #u7611-4 p,#u9776:active #u9777-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u7666
{
	-pie-box-shadow: 1px -3px 8px #DBDBDB;
	box-shadow: 1px -3px 8px rgba(0,0,0,0.14);
	background: #C1272D url("../images/u7617-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#ED1C24),color-stop(100%, #C1272D));
	background: -webkit-linear-gradient(top,#ED1C24 ,#C1272D 100%);
	background: linear-gradient(to bottom,#ED1C24 ,#C1272D 100%);
	border-radius: 10px 10px 0px 0px ;
	position: relative;
}

#u7666:hover
{
	background-image: none;
	background-color: #DEDEDE;
	-pie-background: none;
}

#u7666:active
{
	background-image: none;
	background-color: #474747;
	-pie-background: none;
}

#u7666.MuseMenuActive
{
	background: #C1272D url("../images/u7617-a-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #800F14),to(#C1272D));
	background: -webkit-linear-gradient(top,#800F14 46%,#C1272D );
	background: linear-gradient(to bottom,#800F14 46%,#C1272D );
}

#u7669-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
}

#u7666:hover #u7669-4 p
{
	color: #C1272D;
	visibility: inherit;
}

#u9776.MuseMenuActive #u9777-4 p,#u7666:active #u7669-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u7659
{
	-pie-box-shadow: 1px -3px 8px #DBDBDB;
	box-shadow: 1px -3px 8px rgba(0,0,0,0.14);
	background: #C1272D url("../images/u7659-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFBA00),color-stop(100%, #C1272D));
	background: -webkit-linear-gradient(top,#FFBA00 ,#C1272D 100%);
	background: linear-gradient(to bottom,#FFBA00 ,#C1272D 100%);
	border-radius: 10px 10px 0px 0px ;
	position: relative;
}

#u7659:hover
{
	background-image: none;
	background-color: #DEDEDE;
	-pie-background: none;
}

#u7659:active
{
	background-image: none;
	background-color: #474747;
	-pie-background: none;
}

#u7659.MuseMenuActive
{
	background: #C1272D url("../images/u7617-a-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #800F14),to(#C1272D));
	background: -webkit-linear-gradient(top,#800F14 46%,#C1272D );
	background: linear-gradient(to bottom,#800F14 46%,#C1272D );
}

#u7660-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
}

#u7659:hover #u7660-4 p
{
	color: #C1272D;
	visibility: inherit;
}

#u7666.MuseMenuActive #u7669-4 p,#u7659:active #u7660-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u7654
{
	-pie-box-shadow: 1px -3px 8px #DBDBDB;
	box-shadow: 1px -3px 8px rgba(0,0,0,0.14);
	background: #C1272D url("../images/u7617-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#ED1C24),color-stop(100%, #C1272D));
	background: -webkit-linear-gradient(top,#ED1C24 ,#C1272D 100%);
	background: linear-gradient(to bottom,#ED1C24 ,#C1272D 100%);
	border-radius: 10px 10px 0px 0px ;
	position: relative;
}

#u7654:hover
{
	background-image: none;
	background-color: #DEDEDE;
	-pie-background: none;
}

#u7654:active
{
	background-image: none;
	background-color: #474747;
	-pie-background: none;
}

#u7654.MuseMenuActive
{
	background: #C1272D url("../images/u7617-a-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #800F14),to(#C1272D));
	background: -webkit-linear-gradient(top,#800F14 46%,#C1272D );
	background: linear-gradient(to bottom,#800F14 46%,#C1272D );
}

#u7656-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
}

#u7654:hover #u7656-4 p
{
	color: #C1272D;
	visibility: inherit;
}

#u7659.MuseMenuActive #u7660-4 p,#u7654:active #u7656-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u7647
{
	-pie-box-shadow: 1px -3px 8px #DBDBDB;
	box-shadow: 1px -3px 8px rgba(0,0,0,0.14);
	background: #C1272D url("../images/u7617-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#ED1C24),color-stop(100%, #C1272D));
	background: -webkit-linear-gradient(top,#ED1C24 ,#C1272D 100%);
	background: linear-gradient(to bottom,#ED1C24 ,#C1272D 100%);
	border-radius: 10px 10px 0px 0px ;
	position: relative;
}

#u7647:hover
{
	background-image: none;
	background-color: #DEDEDE;
	-pie-background: none;
}

#u7647:active
{
	background-image: none;
	background-color: #474747;
	-pie-background: none;
}

#u7647.MuseMenuActive
{
	background: #C1272D url("../images/u7617-a-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #800F14),to(#C1272D));
	background: -webkit-linear-gradient(top,#800F14 46%,#C1272D );
	background: linear-gradient(to bottom,#800F14 46%,#C1272D );
}

#u7649-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
}

#u7617.MuseMenuActive #u7620-4,#u7610.MuseMenuActive #u7611-4,#u9776.MuseMenuActive #u9777-4,#u7666.MuseMenuActive #u7669-4,#u7659.MuseMenuActive #u7660-4,#u7654.MuseMenuActive #u7656-4,#u7647.MuseMenuActive #u7649-4
{
	border-style: none;
	border-color: transparent;
}

#u7647:hover #u7649-4 p
{
	color: #C1272D;
	visibility: inherit;
}

#u7654.MuseMenuActive #u7656-4 p,#u7647:active #u7649-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u8046
{
	background: #FFFFFF url("../images/u8046-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#BBB7B0),color-stop(57%, #FFFFFF));
	background: -webkit-linear-gradient(top,#BBB7B0 ,#FFFFFF 200px);
	background: linear-gradient(to bottom,#BBB7B0 ,#FFFFFF 200px);
	border-color: #000000;
}

#u8466
{
	border-color: #000000;
	background-color: #C1272D;
}

#u7798
{
	border-color: #000000;
	background-color: #212121;
}

#u7813
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u7801-2
{
	font-size: 14px;
	color: #F7F7F7;
}

#u7801-4,#u7801-6
{
	font-size: 14px;
	color: #F1F1F1;
	font-weight: normal;
}

#u7800-4
{
	font-size: 11px;
	color: #7F7F7F;
	font-weight: bold;
}

#u7800-5,#u7800-6
{
	font-size: 11px;
	font-weight: normal;
}

#u7800-2,#u7800-8
{
	font-size: 11px;
	color: #F7F7F7;
}

#u7800-11
{
	font-size: 14px;
	font-weight: normal;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u7800-9
{
	font-size: 11px;
}

#u7802-15
{
	background-color: transparent;
	font-size: 11px;
	position: relative;
}

#u7802-4,#u7802-6,#u7802-11,#u7802-13
{
	color: #7F7F7F;
	font-weight: normal;
}

#u7799
{
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#U7836_animation
{
	border: none;
}

#u7802-2,#u7802-9,#u7804-2,#u7805-2,#u7806-2
{
	color: #F7F7F7;
}

#u7806-4,#u7806-5,#u7806-7
{
	color: #7F7F7F;
	font-weight: bold;
}

#u7803-9,#u7803-12,#u7803-19,#u7804-5,#u7804-8,#u7805-5,#u7805-8,#u7806-8,#u7806-12
{
	font-weight: bold;
}

#u7806-9
{
	font-size: 1px;
	line-height: 0px;
}

#u7621,#u7808
{
	background-color: transparent;
}

#u7808_img
{
	vertical-align: bottom;
}

#u7800-3,#u7802-7,#u7803-3,#u7803-6,#u7803-7,#u7803-10,#u7803-13,#u7803-16,#u7803-17,#u7804-3,#u7804-6,#u7805-3,#u7805-6,#u7806-3,#u7806-6,#u7806-10,#u7806-11
{
	font-weight: normal;
}

#u7810-4
{
	border-color: #ADADAD;
	background-color: transparent;
	line-height: 1;
	color: #FFFFFF;
	font-size: 46px;
	position: relative;
}

#u7817
{
	position: absolute;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background: #C1272D url("../images/u2553-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#ED1C24),color-stop(100%, #C1272D));
	background: -webkit-linear-gradient(top,#ED1C24 ,#C1272D 100%);
	background: linear-gradient(to bottom,#ED1C24 ,#C1272D 100%);
	border-color: #999999;
	border-radius: 10px;
}

#u7817:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background: #7F7F7F url("../images/u2553-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#D5D5D5),color-stop(100%, #7F7F7F));
	background: -webkit-linear-gradient(top,#D5D5D5 ,#7F7F7F 100%);
	background: linear-gradient(to bottom,#D5D5D5 ,#7F7F7F 100%);
	border-color: #6B6B6B;
}

#u7817:active
{
	-pie-box-shadow: none;
	box-shadow: none;
	background: #595959 url("../images/u2553-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#767676),color-stop(100%, #595959));
	background: -webkit-linear-gradient(top,#767676 ,#595959 100%);
	background: linear-gradient(to bottom,#767676 ,#595959 100%);
	border-color: #6B6B6B;
}

#u7818-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u7821
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background: #0F0F0F url("../images/ulockitdoor-u2568-fr.png") repeat center center;
	background-color: rgba(0,0,0,0.94);
}

#u7822
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u7616,#u7622,#u7623,#u7630,#u7637,#u8702,#u7609,#u9773,#u7665,#u7658,#u7651,#u7644,#u7801-8,#u7800-13,#u7803-21,#u7804-10,#u7805-10,#u7806-14,#u7811,#u7823,#u7827-4,#u7828-4,#u7829-4
{
	background-color: transparent;
	position: relative;
}

#u7826-13
{
	background-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
}

#u7825-4
{
	background: #C1272D url("../images/u2690-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#E6333A),color-stop(100%, #C1272D));
	background: -webkit-linear-gradient(top,#E6333A ,#C1272D 100%);
	background: linear-gradient(to bottom,#E6333A ,#C1272D 100%);
	border-color: #000000;
	border-radius: 10px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u7825-4:hover
{
	background: #7F7F7F url("../images/u2690-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#DEDEDE),color-stop(100%, #7F7F7F));
	background: -webkit-linear-gradient(top,#DEDEDE ,#7F7F7F 100%);
	background: linear-gradient(to bottom,#DEDEDE ,#7F7F7F 100%);
}

#u7825-4:active
{
	background: #767676 url("../images/u2690-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#474747),color-stop(100%, #767676));
	background: -webkit-linear-gradient(top,#474747 ,#767676 100%);
	background: linear-gradient(to bottom,#474747 ,#767676 100%);
}

#u7825-4:hover p
{
	color: #C1272D;
	visibility: inherit;
}

#u7647.MuseMenuActive #u7649-4 p,#u7825-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u7830
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u7831
{
	vertical-align: top;
	position: relative;
	background: url("../images/u7831.png") no-repeat 0px 0px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u8006
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#top,#u7798_align_to_page,#pamphletu7815,#u7816,#u8046_align_to_page
{
	position: relative;
}

#u7800-11  span,#u7800-11  a,#u7800-11  span,#u7800-11  a,#u7800-11  span,#u7800-11  a,#u7800-11  span,#u7800-11  a,#u7800-11  span,#u7800-11  a,#u7800-11  span,#u7800-11  a,#u7800-11  span,#u7800-11  a,#u7800-11  span,#u7800-11  a,#u7800-11  span,#u7800-11  a,#u7800-11  span,#u7800-11  a /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.45;
}

