.version.storage_calculator /* version checker */
{
	color: #0000E2;
	background-color: #2A4104;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1100px;
	min-height: 1911px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 29px;
	width: 0.01px;
}

#u7607
{
	z-index: 19;
	height: 80px;
	top: 0px;
}

#u7607-bw
{
	z-index: 19;
}

#u7674-8
{
	z-index: 91;
	width: 175px;
	min-height: 72px;
	padding-top: 8px;
	top: 0px;
	left: 50%;
	margin-left: -383px;
}

#u7672
{
	z-index: 89;
	width: 155px;
	top: 14px;
	left: 50%;
	margin-left: -543px;
}

#top
{
	margin-left: 22px;
}

#menuu7608
{
	z-index: 20;
	width: 715px;
	top: 51px;
	left: 50%;
	margin-left: -184px;
}

#u7616
{
	width: 90px;
	min-height: 29px;
	margin-right: -10000px;
}

#u7617
{
	width: 90px;
	padding-bottom: 11px;
}

#u7617:hover
{
	width: 90px;
	min-height: 0px;
	margin: 0px;
}

#u7617:active
{
	width: 90px;
	min-height: 0px;
	margin: 0px;
}

#u7617.MuseMenuActive
{
	width: 90px;
	min-height: 0px;
	margin: 0px;
}

#u7620-4
{
	width: 68px;
	min-height: 18px;
	margin-right: -10000px;
	top: 5px;
	left: 11px;
}

#u7617:hover #u7620-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u7617:active #u7620-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u7621
{
	width: 154px;
	top: 29px;
}

#u7626
{
	width: 152px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u7626:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7626:active
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7627-4
{
	width: 81px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 31px;
}

#u7626:hover #u7627-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u7626:active #u7627-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u7626.MuseMenuActive #u7627-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u7633
{
	width: 152px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u7626.MuseMenuActive,#u7633:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7633:active
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7636-4
{
	width: 103px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 20px;
}

#u7633:hover #u7636-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u7633:active #u7636-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u7633.MuseMenuActive #u7636-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u7640
{
	width: 152px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u7633.MuseMenuActive,#u7640:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7640:active
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7643-4
{
	width: 56px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 44px;
}

#u7640:hover #u7643-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u7640:active #u7643-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u7640.MuseMenuActive #u7643-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u7622,#u7623,#u7630,#u7637,#u8702
{
	width: 154px;
}

#u8705
{
	width: 152px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u7640.MuseMenuActive,#u8705:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8705:active
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8705.MuseMenuActive
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8706-4
{
	width: 93px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 25px;
}

#u8705:hover #u8706-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u8705:active #u8706-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u8705.MuseMenuActive #u8706-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u7609
{
	width: 140px;
	min-height: 29px;
	margin-right: -10000px;
	left: 92px;
}

#u7610
{
	width: 140px;
	padding-bottom: 11px;
}

#u7610:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u7610:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u7610.MuseMenuActive
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u7611-4
{
	width: 118px;
	min-height: 18px;
	margin-right: -10000px;
	top: 5px;
	left: 11px;
}

#u7610:hover #u7611-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u7610:active #u7611-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u7610.MuseMenuActive #u7611-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u9773
{
	width: 137px;
	min-height: 29px;
	margin-right: -10000px;
	left: 234px;
}

#u9776
{
	width: 137px;
	padding-bottom: 11px;
}

#u9776:hover
{
	width: 137px;
	min-height: 0px;
	margin: 0px;
}

#u9776:active
{
	width: 137px;
	min-height: 0px;
	margin: 0px;
}

#u9776.MuseMenuActive
{
	width: 137px;
	min-height: 0px;
	margin: 0px;
}

#u9777-4
{
	width: 115px;
	min-height: 18px;
	margin-right: -10000px;
	top: 5px;
	left: 11px;
}

#u9776:hover #u9777-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u9776:active #u9777-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u9776.MuseMenuActive #u9777-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u7665
{
	width: 68px;
	min-height: 29px;
	margin-right: -10000px;
	left: 373px;
}

#u7666
{
	width: 68px;
	padding-bottom: 11px;
}

#u7666:hover
{
	width: 68px;
	min-height: 0px;
	margin: 0px;
}

#u7666:active
{
	width: 68px;
	min-height: 0px;
	margin: 0px;
}

#u7666.MuseMenuActive
{
	width: 68px;
	min-height: 0px;
	margin: 0px;
}

#u7669-4
{
	width: 47px;
	min-height: 18px;
	margin-right: -10000px;
	top: 5px;
	left: 10px;
}

#u7666:hover #u7669-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u7666:active #u7669-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u7666.MuseMenuActive #u7669-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u7658
{
	width: 100px;
	min-height: 29px;
	margin-right: -10000px;
	left: 443px;
}

#u7659
{
	width: 100px;
	padding-bottom: 11px;
}

#u7659:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u7659:active
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u7659.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u7660-4
{
	width: 79px;
	min-height: 18px;
	margin-right: -10000px;
	top: 5px;
	left: 10px;
}

#u7659:hover #u7660-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u7659:active #u7660-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u7659.MuseMenuActive #u7660-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u7651
{
	width: 89px;
	min-height: 29px;
	margin-right: -10000px;
	left: 545px;
}

#u7654
{
	width: 89px;
	padding-bottom: 11px;
}

#u7654:hover
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u7654:active
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u7654.MuseMenuActive
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u7656-4
{
	width: 68px;
	min-height: 18px;
	margin-right: -10000px;
	top: 5px;
	left: 10px;
}

#u7617.MuseMenuActive #u7620-4,#u7654:hover #u7656-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u7654:active #u7656-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u7654.MuseMenuActive #u7656-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u7644
{
	width: 79px;
	min-height: 29px;
	margin-right: -10000px;
	left: 636px;
}

#u7647
{
	width: 79px;
	padding-bottom: 11px;
}

#u7647:hover
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u7647:active
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u7647.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u7649-4
{
	width: 58px;
	min-height: 18px;
	margin-right: -10000px;
	top: 5px;
	left: 10px;
}

#u7647:hover #u7649-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u7647:active #u7649-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u7647.MuseMenuActive #u7649-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#pu8046
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 33px;
}

#u8046
{
	z-index: 2;
	min-height: 76px;
	padding-bottom: 272px;
}

#u9910-4
{
	z-index: 14;
	width: 311px;
	min-height: 38px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 10px 10px 0px 0px ;
	text-align: center;
	font-size: 40px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 493px;
}

#u8046-bw
{
	z-index: 2;
	min-height: 76px;
}

#u9908
{
	z-index: 3;
	width: 970px;
	-pie-box-shadow: 0px 8px 8px #7F7F7F;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	border-radius: 10px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 99px;
	padding: 32px 64px 62px;
	background: #FFFFFF url("../images/paneling.jpg") no-repeat left top;
	background-size: cover;
}

#u9912-8
{
	z-index: 6;
	width: 699px;
	min-height: 55px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 10px;
	text-align: center;
	font-size: 20px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	margin-left: 133px;
	position: relative;
}

#u9912-2,#u9912-4
{
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
}

#u9906
{
	z-index: 4;
	width: 964px;
	-pie-box-shadow: 0px 8px 20px #7F7F7F;
	box-shadow: 0px 8px 20px rgba(0,0,0,0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 50px;
	margin-top: 29px;
	position: relative;
}

#u3016
{
	z-index: 5;
	width: 1100px;
	min-height: 711px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: -68px;
}

#pu7798
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 74px;
}

#u7798
{
	z-index: 99;
	min-height: 409px;
	padding-bottom: 10px;
}

#u8046_align_to_page,#u7798_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	left: -100px;
}

#u7813
{
	z-index: 201;
	width: 315px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 124px;
}

#pu7801-8
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 111px;
	margin-left: 466px;
}

#u7801-8
{
	z-index: 114;
	width: 282px;
	min-height: 69px;
}

#pu7800-13
{
	width: 0.01px;
	margin-top: 12px;
}

#u7800-13
{
	z-index: 101;
	width: 121px;
	min-height: 138px;
	margin-right: -10000px;
}

#u7802-15
{
	z-index: 122;
	width: 115px;
	min-height: 123px;
	margin-right: -10000px;
	left: 145px;
}

#u7799
{
	z-index: 100;
	width: 400px;
	height: 400px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 791px;
}

#U7836_animation
{
	width: 400px;
	height: 400px;
}

#u7798-bw
{
	z-index: 99;
	min-height: 409px;
	margin-top: 2px;
}

#u7803-21
{
	z-index: 137;
	width: 148px;
	min-height: 84px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 799px;
}

#u7804-10
{
	z-index: 158;
	width: 121px;
	min-height: 59px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 947px;
}

#u7805-10
{
	z-index: 168;
	width: 107px;
	min-height: 59px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 1079px;
}

#u7806-14
{
	z-index: 178;
	width: 384px;
	min-height: 163px;
	margin-right: -10000px;
	margin-top: 169px;
	left: 799px;
}

#u7808
{
	z-index: 192;
	width: 180px;
}

#u7810-4
{
	z-index: 195;
	width: 348px;
	min-height: 60px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 466px;
}

#u7811
{
	z-index: 199;
	width: 179px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 597px;
}

#pamphletu7815
{
	z-index: 203;
	width: 0.01px;
	height: 33px;
	padding-bottom: 2px;
	margin-right: -10000px;
	margin-top: 159px;
	left: 198px;
}

#u7816
{
	z-index: 204;
	width: 173px;
	margin-right: -10000px;
	margin-top: 9px;
}

#u7817
{
	width: 173px;
	padding-bottom: 2px;
	top: -9px;
}

#u7817:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u7817:active
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u7818-4
{
	z-index: 206;
	width: 173px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 9px;
}

#u7817:hover #u7818-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 173px;
	margin: 9px -10000px 0px 0px;
}

#u7817:active #u7818-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 173px;
	margin: 9px -10000px 0px 0px;
}

#u7817.PamphletThumbSelected #u7818-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 173px;
	margin: 9px -10000px 0px 0px;
}

#u7821popup
{
	z-index: 210;
}

#u7821
{
	width: 845px;
	padding-bottom: 44px;
	top: -539px;
	left: -18px;
}

#u7822
{
	z-index: 211;
	width: 801px;
	height: 642px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u7823
{
	z-index: 212;
	width: 774px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#u7827-4
{
	z-index: 214;
	width: 171px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 510px;
	left: 241px;
}

#u7828-4
{
	z-index: 218;
	width: 171px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 183px;
	left: 588px;
}

#u7829-4
{
	z-index: 222;
	width: 229px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 91px;
	left: 378px;
}

#u7826-13
{
	z-index: 226;
	width: 267px;
	min-height: 156px;
	margin-right: -10000px;
	margin-top: 454px;
	left: 422px;
	padding: 6px 6px 5px;
}

#u7825-4
{
	z-index: 239;
	width: 183px;
	min-height: 27px;
	padding-top: 8px;
	margin-right: -10000px;
	margin-top: 539px;
	left: 566px;
}

#u7825-4:hover
{
	padding-top: 8px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 183px;
	margin: 539px -10000px 0px 0px;
}

#u7825-4:active
{
	padding-top: 8px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 183px;
	margin: 539px -10000px 0px 0px;
}

#u7830
{
	width: 30px;
	top: -517px;
	left: 775px;
}

#u7831
{
	z-index: 245;
	height: 28px;
	width: 28px;
	margin-bottom: -2px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u8006
{
	z-index: 247;
	width: 1px;
	height: 214px;
	margin-right: -10000px;
	margin-top: 79px;
	left: 780px;
}

#u8466,#u8466-bw
{
	z-index: 248;
	height: 3px;
}

body
{
	position: relative;
	min-width: 1100px;
}

#page .verticalspacer
{
	clear: both;
}

